* {
    padding: 0;
    margin: 0;
    font-family: 'Abhaya Libre', serif;
}
h1 {
    font-size: 10vh;
}
.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
    background-color: white;
}
.footer p {
    margin : 0;
}
/* Styling for Project Page */
img {
    width: 68vw;
}

.fPimMH {
    width: 73vw;
}

.Project {
    padding-top: 5vh;
    text-align: center;
}

.card {
    width: 95vw;
    border: 2px solid red;
    padding:  1vh 1vh;
    margin: 2vw;
    display: flex;
}

.description {
    width: 20vw;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.descriptionButtons {
    margin-top: auto;
    display:flex;
    flex-direction: column;
}

.descriptionButtons button {
    height: 50px;
    background-color: #1A1110;
    color: white;
    margin: 0 15px 15px 15px;
    text-align: left;
    padding-left: 25px;
    font-size: 20px;
}